body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.LayoutWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #e8e8e8, white);
}

.SideBarWrapper {
  max-height: 50%;
  background: aquamarine;
  width: 425px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 99;
  margin-top: 139px;
  margin-left: 25px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.ContentWrapper {
  height: 70%;
}

.SmallView {
  height: 30%;
  /* background-color:blue ; */
}

.ViewerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ToolBarWrapper {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: antiquewhite; */
}

.ToolBarWrapper > button {
  height: 50px;
  min-width: 50px;
  background: transparent;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid black;
}

.ToolBarWrapper > button:hover{
  color: white;
  background-color: black;
}

.ViewerWrapper {
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
